<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <header>
        <h1><%= title %></h1>
        <a href="/">🏠 Home</a>
    </header>
    <main>
        <% if (locals.error) { %>
            <section class="menu-container-section">
                <div class="menu-section">
                    <ul>
                        <li>
                            <span class="error-msg"><%= locals.error %></span>
                        </li>
                        <li>
                            <a href="/dashboard">Return To Dashboard</a>
                        </li>
                    </ul>
                </div>
            </section>
        <% } %>
    </main>
    <%- include ("../partials/credit") %> 
</body>
</html>