<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <header>
        <h1>💾 DataDrive95</h1>
    </header>
    <main>
        <section class="menu-container-section">
            <% if (locals.user) { %>
                <h2>Welcome back <%= user.username %></h2>
            <% } else { %>
                <div class="menu-section">
                    <h2>Log In</h2>
                    <br>
                    <form action="/login" method="post">
                        <ul>
                            <li>
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username" required>
                            </li>
                            <li>
                                <label for="password">Password</label>
                                <input autocomplete="current-password" type="password" name="password" id="password" required>
                            </li>
                            <li>
                                <% if (locals.error) { %>
                                    <span class="error-msg"><%= error %></span>
                                <% } %>
                            </li>
                            <li class="button-li">
                                <button type="submit">Submit</button>
                            </li>
                            <li><span>No account? <a style="color: blue" href="/sign-up">Sign up here</a></span></li>
                        </ul>
                    </form>
                </div>
            <% } %>
        </section>
        <%- include ("../partials/credit") %> 
    </main>
    <% if (locals.user) { %>
        <nav>
            <div>
                <button><a href="/dashboard">🖥️ Continue To Dashboard</a></button>
            </div>
            <div>
                <button><a href="/log-out">⛓️‍💥 Logout</a></button>
            </div>
        </nav>
    <% } %>
</body>
</html>