<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Home</h1>
    </header>
    <main>
        <% if (locals.user) { %>
            <h2>Welcome back <%= user.username %></h2>
        <% } else { %>
            <h2>Log In</h2>
            <form action="/login" method="post">
                <ul>
                    <li>
                        <label for="username">Username: </label>
                        <input type="text" name="username" id="username" minlength="1" maxlength="30" required>
                    </li>
                    <li>
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" minlength="8" required>
                    </li>
                    <li>
                        <button type="submit">Submit</button>
                    </li>
                </ul>
            </form>
            <span>No account? No worries! <a href="">Sign Up</a> here.</span>
        <% } %>
    </main>
    <footer>

    </footer>
</body>
</html>