:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

body {
    background-color: black;
    color: azure;
}

.folder-li {
    padding: 8px;
}

.folder-li div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    gap: 12px;
    border: 1px solid white;
    border-radius: 3px;
}

.folder-li form ul {
    display: flex;
}

.file-li {
    display: flex;
    gap: 12px;
    padding: 3px;
    align-items: center;
}